body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    color: #191818;
  }
  
  .container {
    text-align: center;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #676060;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #ece6e6;
  }
  
  .status {
    margin-top: 20px;
    font-size: 24px;
  }
  
  .reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-btn:hover {
    background-color: #0056b3;
  }
  